body {
  background-color: #fff;
  transition: .5s;
}

body.active {
  background-color: rgb(35, 31, 32);
}

.btn-box {
  position: relative;
  width: 480px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  display: inline-block;
  font-size: 15px;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(35, 31, 32);
  color: #fff;
  border-style: none;
  width: 11rem;
  height: 45px;
  border-radius: 60px;
  cursor: pointer;
}

.btn.active {
  border: 2px solid #ffffff;
}

.btn:before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: left .5s;
}

.btn.active:before {
  left: 134px;
}