/* div {
    display: block;
} */
.navigation {
    position: relative;
    width: 480px;
    height: 60px;
    /* background: rgb(35,31,32); */
    background: rgb(0,79,111);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
}
.navigation ul {
    display: flex;
    width: 480px;
}
.navigation ul li {
    list-style: none;
    position: relative;
    width: 75px;
    height: 75px;
    justify-content: center;
    z-index: 2;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
}

.search-box {
    margin-top: 9rem;
    position: absolute;
    background: #e8e3e3;
    height: 40px;
    padding: 0 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

input::placeholder {
    color: #c1baba;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000000;
    font-size: 16px;
    line-height: 40px;
    /* border-right: 2px solid gray; */
}

.search-btn {
    width: 40px;
    height: 40px;
    border-left: 1px solid #d7cdcd;
    display: flex;
    justify-content: center;
    align-items: center;
}
