/* ======================================================
search
====================================================== */

.search-box {
    position: relative;
    width: 480px;
    height: 45px;
    background: #e8e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 21px;
    margin: 10px 0 10px 0;
}
input::placeholder {
    color: #c1baba;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 10px;
    color: #000000;
    font-size: 16px;
    line-height: 40px;
}
.search-btn {
    width: 50px;
    border-left: 1px solid #d7cdcd;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======================================================
menu
====================================================== */

.navigation {
    position: relative;
    width: 480px;
    height: 55px;
    background: rgb(0,79,111);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 21px;

}
.navigation ul {
    display: flex;
    width: 90%;
}
.navigation ul li {
    list-style: none;
    position: relative;
    width: 100%;
    z-index: 2;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    transform: translate(1.2);
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navigation ul li a:hover {
    width: 55px;
    height: 55px;
    background: rgb(233,108,31);
    text-align: center;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
}
