* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#central-box {
    display: block;
    width: 85%;
    height: 85%;
}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
}