.pdf {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

button {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(5, 5, 5);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

header {
    max-width: 1680px;
    height: 100px;
}

/* header .menu {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

header .menu ul {
    list-style: none;
    
} */

/* section .container {
    padding-top: 10px;
    height: 400px;
    width: 1333px;
    padding-right: 10px;
} */

/* ===============================

Barra de navegação

================================== */

.search-box {
    margin-top: 15px;
    position: absolute;
    background: #e8e3e3;
    height: 40px;
    padding: 0 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

input::placeholder {
    color: #c1baba;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000000;
    font-size: 16px;
    line-height: 40px;
    /* border-right: 2px solid gray; */
}

.search-btn {
    width: 40px;
    height: 40px;
    border-left: 1px solid #d7cdcd;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===============================

Termina css da barra de navegação

================================== */