.pdf {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  .dark-mode {
    background-color: black;
    color: white;
  }
  .light-mode {
    background-color: white;
    color: black;
  }

button {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(5, 5, 5);
    color: #fff;
    border-radius: 10px;
}

header {
    max-width: 1680px;
    height: 100px;
}

/* header .menu {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

header .menu ul {
    list-style: none;
    
} */

/* section .container {
    padding-top: 10px;
    height: 400px;
    width: 1333px;
    padding-right: 10px;
} */