/* =====================================================

RESTET

======================================================== */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
    
}

/* =====================================================

Termina o RESET 

======================================================== */


/* =====================================================

CSS do título (informações)

======================================================== */

.module1__title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
    color: #000000;
    background-color: rgb(152,143,135);
    text-align: center;
}

.module1__title .h1 {
    margin: auto;
}

.contadorDeVisualizacoes {
    font-weight: bold;
    font-size: 2.3rem;
    margin-top: 1.2rem;
    margin-right: 1rem;
}

.contador {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    width: 70px;
    margin-right: 10px;
    height: 50px;
    border: 2px solid black;
}

/* =====================================================

Termina o CSS do título (informações)

========================== */


/* =====================================================

CSS da aba de navegação

======================================================== */

.module1 {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.module1__left-colum {
    width: 10rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator {
    width: 55px;
    height: 450px;
    background: rgb(0,79,111);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
    /* margin: 80px 30px;
    position: absolute; */
}

.navigator ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}
.navigator ul li {
    list-style: none;
    height: 90%;
}
.navigator ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigator ul li a:hover {
    width: 55px;
    height: 55px;
    background: rgb(233,108,31);
    text-align: center;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    transform: scale(1.3);
    transition: 0.2s ease-in-out;
}

/* .module1__left-colum {
    width: 10rem;
    height: 100%;
    background-color: rgb(0, 79, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110%;
}

.navigator {
    height: 114.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
}

.navigator ul li {
    margin: 9rem 0;
    transform: translate(1.1);
    transition: 0.3s ease-in-out;
}

.navigator ul li:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.navigator ul li:first-child {
    margin-top: 0;
}

.navigator ul li:last-child {
    margin-bottom: 0;
}

.navigator::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 74%;
    background-color: #000000;
    top: 13%;
    z-index: 0;
}

.navigator ul {
    z-index: 1;
}

.navigator ul li a {
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: rgb(233, 108, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator ul li a p {
    color: black;
    font-size: 25px;
}

.navigator ul li a:hover,
.navigator ul li a.active { 
    background-color: rgb(196, 83, 13);
} */

/* =====================================================

Termina o CSS da aba de navegação

======================================================== */


/* =====================================================

CSS do Container

======================================================== */

.module01__main-content {
    display: flex;
    justify-content: center;
    width: 55vw;
    height: 100vh;
    background-color: white;
    margin-right: 10px;
}

.module01__main-content-pdf {
    margin-left: 0.5rem;
    /* text-align: center; */
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.txtIntro {
    background-color: rgb(152,143,135);
}

.aula {
    font-size: 20px;
    color: #000000;
    padding: 10px;
    padding-left: 30px;
    width: 95%;
    border: 1px solid #000000;
}

/* =====================================================

Termina o CSS do Container

======================================================== */


/* =====================================================

CSS da coluna de interação com JS + desafios

======================================================== */

.module1__resume_aside {
    text-align: center;
    width: 35vw;
    background-color: white;
    border: 1px solid black;
    margin-top: 15px;
}

.module1__resume_aside- {
    border: 1px solid black;
    display: block;
    background-color: rgb(152,143,135);
    color: black;
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-bottom: 3%;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 95%;
    margin-right: auto;
    height: 30%;
    background-color: rgb(152,143,135);
    color: black;
}

.challenges {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-right: auto;
    height: 58%;
    background-color: rgb(152,143,135);
    color: black;
}

/* =====================================================

Termina o CSS da coluna de interação com JS + desafios

======================================================== */
