/* =====================================================
RESET
======================================================== */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
}

/* =====================================================
title
======================================================== */

.module1__title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
    color: #000000;
    background-color: rgb(152, 143, 135);
    text-align: center;
}

.module1__title .h1 {
    margin: auto;
}

.contadorDeVisualizacoes {
    font-weight: bold;
    font-size: 2.3rem;
    margin-top: 1.2rem;
    margin-right: 1rem;
}

.contador {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    width: 70px;
    margin-right: 10px;
    height: 50px;
    border: 2px solid black;
}

.module1__title .h2 {
    margin: auto;
    font-size: 30px;
    margin-right: 49%;
}

/* =====================================================
left colum
======================================================== */
.module1 {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.module1__left-colum {
    width: 10rem;
    height: 90vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator {
    width: 55px;
    height: 450px;
    background: rgb(0, 79, 111);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
}

.navigator ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.navigator ul li {
    list-style: none;
    height: 90%;
}

.navigator ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigator ul li a:hover {
    width: 55px;
    height: 55px;
    background: rgb(233, 108, 31);
    text-align: center;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    transform: scale(1.3);
    transition: 0.2s ease-in-out;
}

/* =====================================================
main content
======================================================== */
.module01__main-content {
    display: flex;
    justify-content: center;
    width: 55vw;
    height: 100vh;
    background-color: white;
    margin-right: 8px;
    overflow: scroll;
}

.module01__main-content-pdf {
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.txtIntro {
    background-color: rgb(152, 143, 135);
    font-size: 15px;
    color: #000000;
    padding: 10px;
    padding-left: 30px;
    width: 92%;
    border: 1px solid #000000;
}

.aula {
    font-size: 15px;
    color: #000000;
    padding: 10px;
    padding-left: 30px;
    width: 92%;
    border: 1px solid #000000;
}

/* =====================================================
resume aside
======================================================== */

.module1__resume_aside {
    /* text-align: center; */
    width: 35vw;
    color: aliceblue;
    border: 1px solid black;
    margin-top: 15px;
}

.module1__resume_board {
    background-color: rgb(0, 79, 111);
    /* border: 1px solid black; */
    border: none;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    width: 80%;
    height: 75%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgb(31, 125, 233);
}

.resume-title {
    width: 100%;
    height: 20%;
    text-align: left;
}

.resume-content {
    width: 100%;
    height: 80%;
    text-align: left;
}

.resume-content p {
    width: 100%;
    text-align: justify;
}

.img-content {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.resumeImg {
    width: 200px;
    height: 200px;
}
